# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.yaml
# Folders
_obj
_test
*.webm
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
node_modules
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
browserconfig.xml
manifest.json
_testmain.go
*.png
*.exe
*.test
*.prof
.DS_Store
server
config.go

